@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

@layer components {
    /* .fi-simple-main-ctn {
        @apply w-[603px] h-[603px] -top-[145px] left-[371px] gap-0 opacity-[0.35] bg-[#FBD89D];
    } */
    .fi-sidebar-header{
        /* @apply */
    }
    /* .fi-sidebar-header::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%; /* Adjust this value to control the spread of the gradient */
        /* height: 4px; /* Thickness of the border */
        /* background: linear-gradient(to left, transparent, rgba(255, 0, 0, 0.5), transparent);  */
        /* pointer-events: none;  */
    /* }  */

    .fi-sidebar-item-active a {
        @apply !bg-[#F59E0B];
    }

    .fi-sidebar-item-active a .fi-sidebar-item-icon,
    .fi-sidebar-item-active a .fi-sidebar-item-label {
        @apply !text-white;
    }

    .fi-sidebar-item:first-child{
        @apply pb-5 border-b-[1px];
    }
    .fi-sidebar-item:nth-child(2){
        @apply pt-5;
    }
    .fi-sidebar-item:last-child{
        @apply pb-5 border-b-[1px];
    }

    aside{
        @apply !bg-white !border-r-[1px] !border-r-[#E5E7EB];
    }
    .fi-topbar{
        @apply !bg-[#F3F4F6];
    }
    .fi-main-ctn{
        @apply !bg-[#f4f4f5];
    }
    .fi-sidebar-item-active a .fi-badge{
        @apply !bg-[#F7B13C] !rounded-full text-white;
    }
    .fi-badge{
        @apply !bg-[#FDECCE] !rounded-full ;
    }


}
